// Ressources
// This ressources arent displayed in this page, only for the Window.load jquery function
// **************************************************************************************
// **************************************************************************************
// SplashScreen
%img.hide{:src => "/assets/seasonsproject/splashbackground.png"}
%img.hide{:src => "/assets/seasonsproject/anim_progressbar_onblack.gif"}
%img.hide{:src => "/assets/seasonsproject/tree_logo.png"}
%img.hide{:src => "/assets/seasonsproject/tree_logo.png"}
%img.hide{:src => "/assets/seasonsproject/tree_logo_leaves.png"}

// Logos etc.
%img.hide{:src => "/assets/seasonsproject/seasons_inline_logo.png"}
%img.hide{:src => "/assets/seasonsproject/sprite_logo_html5.png"}

// UI
%img.hide{:src => "/assets/seasonsproject/sprites_btn_next_season.png"}
%img.hide{:src => "/assets/seasonsproject/sprites_btn_prev_season.png"}

// Season 0
%img.hide{:src => "/assets/seasonsproject/bg_seasons0.png"}
%img.hide{:src => "/assets/seasonsproject/paralax_bottom_season0.png"}
%img.hide{:src => "/assets/seasonsproject/paralax_top_season0.png"}
%img.hide{:src => "/assets/seasonsproject/scene_season0.png"}
// **************************************************************************************
// **************************************************************************************



// Splash Screen
#SplashScreen
  .header
  .treelogo
    .leaves
  .launchbar
    .progress
    .launchbtn.do-FadeOutSplash
      Start the experience !
  .footer
    .html5notice
      %span
        Please Upgrade your
      %span
        browser for full experience



// Main Structure
#Header
  .contentwrapper
    %a.seasoninlinelogo{:href => "/templates/index"}
#Content
#Footer
  .contentwrapper




// PopIpContent
.hide
  #PopIn-Season0-01
    %p.w-35
      %strong
        1
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue interdum mauris, et volutpat libero condimentum ut. 
      Nam feugiat commodo odio eu vehicula. Donec vitae elit justo. Aliquam dictum pharetra scelerisque. Cras elementum dignissim 
      tortor ac tristique. Sed tincidunt auctor turpis non euismod. Nunc sed tortor id eros aliquet vulputate. Curabitur sed velit enim, 
      non porta neque. Donec lacinia augue non diam malesuada ac facilisis magna imperdiet. Aenean laoreet suscipit urna, quis vulputate dui tristique a. 
      Donec lectus urna, volutpat in varius a, pellentesque in diam.
  #PopIn-Season0-02
    %p.w-35
      %strong
        2
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue interdum mauris, et volutpat libero condimentum ut. 
      Nam feugiat commodo odio eu vehicula. Donec vitae elit justo. Aliquam dictum pharetra scelerisque. Cras elementum dignissim 
      tortor ac tristique. Sed tincidunt auctor turpis non euismod. Nunc sed tortor id eros aliquet vulputate. Curabitur sed velit enim, 
      non porta neque. Donec lacinia augue non diam malesuada ac facilisis magna imperdiet. Aenean laoreet suscipit urna, quis vulputate dui tristique a. 
      Donec lectus urna, volutpat in varius a, pellentesque in diam.
  #PopIn-Season0-03
    %p.w-35
      %strong
        3
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue interdum mauris, et volutpat libero condimentum ut. 
      Nam feugiat commodo odio eu vehicula. Donec vitae elit justo. Aliquam dictum pharetra scelerisque. Cras elementum dignissim 
      tortor ac tristique. Sed tincidunt auctor turpis non euismod. Nunc sed tortor id eros aliquet vulputate. Curabitur sed velit enim, 
      non porta neque. Donec lacinia augue non diam malesuada ac facilisis magna imperdiet. Aenean laoreet suscipit urna, quis vulputate dui tristique a. 
      Donec lectus urna, volutpat in varius a, pellentesque in diam.
  #PopIn-Season0-04
    %p.w-35
      %strong
        4
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue interdum mauris, et volutpat libero condimentum ut. 
      Nam feugiat commodo odio eu vehicula. Donec vitae elit justo. Aliquam dictum pharetra scelerisque. Cras elementum dignissim 
      tortor ac tristique. Sed tincidunt auctor turpis non euismod. Nunc sed tortor id eros aliquet vulputate. Curabitur sed velit enim, 
      non porta neque. Donec lacinia augue non diam malesuada ac facilisis magna imperdiet. Aenean laoreet suscipit urna, quis vulputate dui tristique a. 
      Donec lectus urna, volutpat in varius a, pellentesque in diam.
  #PopIn-Season0-05
    %p.w-35
      %strong
        5
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue interdum mauris, et volutpat libero condimentum ut. 
      Nam feugiat commodo odio eu vehicula. Donec vitae elit justo. Aliquam dictum pharetra scelerisque. Cras elementum dignissim 
      tortor ac tristique. Sed tincidunt auctor turpis non euismod. Nunc sed tortor id eros aliquet vulputate. Curabitur sed velit enim, 
      non porta neque. Donec lacinia augue non diam malesuada ac facilisis magna imperdiet. Aenean laoreet suscipit urna, quis vulputate dui tristique a. 
      Donec lectus urna, volutpat in varius a, pellentesque in diam.



