- if is_older_than_ie8
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
  <div id="cf-placeholder"></div>
  <script>CFInstall.check({node: "cf-placeholder"});</script>
