#PopIn-Season0-05
  %p.w-35
    %strong
      5 - Sound is muted because of video
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue interdum mauris, et volutpat libero condimentum ut. 
    Nam feugiat commodo odio eu vehicula. Donec vitae elit justo. Aliquam dictum pharetra scelerisque. Cras elementum dignissim 
    tortor ac tristique. Sed tincidunt auctor turpis non euismod. Nunc sed tortor id eros aliquet vulputate. Curabitur sed velit enim, 
    non porta neque. Donec lacinia augue non diam malesuada ac facilisis magna imperdiet. Aenean laoreet suscipit urna, quis vulputate dui tristique a. 
    Donec lectus urna, volutpat in varius a, pellentesque in diam.