#PopIn-Season0-01
  .popinvideo
    .video
      .video-js-box
        %video.video-js{:id => "Video-Season0-01",  :width => "640", :height => "264", :controls => "controls", :preload => "auto", :poster => "/assets/videos/hotspot_season0_01_clip.png"}
          %source{ :src => "/assets/videos/hotspot_season0_01.mp4", :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
      .copyright
        %span
          Copyright 2003 Sony Picture
    .content
      %h2
        La grue d'Asie
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec magna vitae est sodales lobortis semper vitae mauris. 
        Vestibulum ut placerat ligula. Nulla aliquam, ligula in viverra pharetra, orci lorem imperdiet metus, facilisis accumsan velit orci a odio. 
        Sed ac nisi sed enim eleifend tristique. Nullam sagittis justo et ante consectetur volutpat. Quisque vehicula, est ac gravida dapibus, diam est auctor nibh, 
        in sollicitudin nisl ante et leo. Sed lorem mi, gravida ac accumsan ut, tempor sed purus. Nam pulvinar, erat feugiat suscipit pulvinar, justo justo lobortis orci, 
        non hendrerit dui neque id neque. Nam eu eros id sem euismod iaculis. Donec urna nisi, convallis in volutpat eu, volutpat at nisl. Duis nisl nisi, auctor vel eleifend nec, 
        sodales id enim. Fusce at arcu sem, ut fringilla tortor.
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec magna vitae est sodales lobortis semper vitae mauris. 
        Vestibulum ut placerat ligula. Nulla aliquam, ligula in viverra pharetra, orci lorem imperdiet metus, facilisis accumsan velit orci a odio. 
        Sed ac nisi sed enim eleifend tristique. Nullam sagittis justo et ante consectetur volutpat. Quisque vehicula, est ac gravida dapibus, diam est auctor nibh, 
        in sollicitudin nisl ante et leo. 
